<app-pagetitle [title]="title" [breadcrumbItems]="breadcrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form Testing</h4>
                <p class="card-title-desc">Tutorial : Start here...</p>
                <form class="needs-validation" (ngSubmit)="validSubmit()" [formGroup]="validationForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustome01">First Name</label>
                                <input type="text" class="form-control" id="validationCustomer01"
                                    formControlName="firstName" placeholder="First Name" [ngClass]="{'is-valid': submit && !form.firstName.errors, 
                                    'is-invalid': submit && form.firstName.errors}">
                                <div *ngIf="submit && form.firstName.errors" class="valid-tooltip">
                                    <span *ngIf="!form.firstName.errors.required">Looks good</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cityInputControl">City</label>
                                <input type="text" class="form-control" id="cityInputControl" formControlName="city"
                                    placeholder="City Name" [ngClass]="{'is-invalid': submit && form.city.errors}">
                                <div *ngIf="submit && form.city.errors" class="invalid-tooltip">
                                    <span *ngIf="form.city.errors.required">Please provide a valid city.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit Form</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <user-app></user-app>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>